{#
/**
 * @file
 * Theme override to display primary and secondary local tasks.
 *
 * Available variables:
 * - primary: HTML list items representing primary tasks.
 * - secondary: HTML list items representing secondary tasks.
 *
 * Each item in these variables (primary and secondary) can be individually
 * themed in menu-local-task.html.twig.
 */
#}

{% if (admin_theme == 'olivero' and is_admin_route) or (default_theme == 'olivero' and not logged_in ) %}
  {{ attach_library('olivero/tabs') }}
{% endif %}

{% if primary %}
  {% set ul_classes = logged_in and not is_admin_route ? ['admin-local-tasks-tabs', 'primary'] : ['tabs', 'primary', 'tabs--primary'] %}

  <h2 id="primary-tabs-title" class="visually-hidden">{{ 'Primary tabs'|t }}</h2>
  <nav role="navigation" class="tabs-wrapper is-horizontal is-collapsible" aria-labelledby="primary-tabs-title" data-drupal-nav-tabs>
    <ul class="{{ ul_classes|join(' ') }} clearfix">{{ primary }}</ul>
  </nav>
{% endif %}

{% if secondary %}
  {% set ul_classes = logged_in and not is_admin_route ? ['admin-local-tasks-tabs', 'secondary'] : ['tabs', 'secondary', 'tabs--secondary'] %}

  <h2 id="secondary-tabs-title" class="visually-hidden">{{ 'Secondary tabs'|t }}</h2>
  <nav role="navigation" class="tabs-wrapper tabs-wrapper--secondary is-horizontal" aria-labelledby="secondary-tabs-title">
    <ul class="{{ ul_classes|join(' ') }} clearfix">{{ secondary }}</ul>
  </nav>
{% endif %}
