.block-local-tasks-block {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  z-index: 9999;
  width: 164px !important;
  transition: all 0.25s ease;
}

.block-local-tasks-block .contextual {
  bottom: -20px;
  top: auto;
}

.block-local-tasks-block ul.admin-local-tasks-tabs {
  margin: 0;
  padding: 0;
  text-align: right;
  position: relative;
  list-style: none;
}

.block-local-tasks-block ul.admin-local-tasks-tabs li {
  width: auto;
  background: #fff;
  padding: 5px 8px;
  position: relative;
  transition: all 0.25s ease;
  border: 0;
  border-bottom: 1px solid #dadada;
  left: 0;
  margin: 0;
  outline: none;
}

.block-local-tasks-block ul.admin-local-tasks-tabs li a {
  position: relative;
  display: block;
  color: var(--gin-color-title, #565656);
  width: auto;
  min-height: initial;
  border: 0;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 14px;
  font-weight: normal;
  text-decoration: none;
  line-height: 24px;
  outline: none;
}

.block-local-tasks-block ul.admin-local-tasks-tabs li a span.icon {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 2px;
  background-color: #565656;
  -webkit-mask-size: 24px 24px;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: right 50%;
}

.block-local-tasks-block ul.admin-local-tasks-tabs li.is-active a {
  background-color: transparent;
  color: var(--gin-color-primary, #003ecc);
}

.block-local-tasks-block ul.admin-local-tasks-tabs li:not(.is-active) a:hover {
  background-color: transparent;
  color: initial;
}

.block-local-tasks-block ul.admin-local-tasks-tabs li.is-active a span.icon {
  background-color: var(--gin-color-primary, #003ecc);
}

.block-local-tasks-block ul.admin-local-tasks-tabs li .tabs__trigger {
  display: none;
}

/* Using Material Design Icons - https://materialdesignicons.com/ */
.block-local-tasks-block ul.admin-local-tasks-tabs li a span.icon {
  -webkit-mask-image: url('../images/icons/default.svg');
}

.block-local-tasks-block ul.admin-local-tasks-tabs li a.delete span.icon {
  -webkit-mask-image: url('../images/icons/delete.svg');
}

.block-local-tasks-block ul.admin-local-tasks-tabs li a.edit span.icon {
  -webkit-mask-image: url('../images/icons/edit.svg');
}

.block-local-tasks-block ul.admin-local-tasks-tabs li a.export span.icon {
  -webkit-mask-image: url('../images/icons/export.svg');
}

.block-local-tasks-block ul.admin-local-tasks-tabs li a.linkplus span.icon {
  -webkit-mask-image: url('../images/icons/link-plus.svg');
}

.block-local-tasks-block ul.admin-local-tasks-tabs li a.list span.icon {
  -webkit-mask-image: url('../images/icons/list.svg');
}

.block-local-tasks-block ul.admin-local-tasks-tabs li a.managedisplay span.icon {
  -webkit-mask-image: url('../images/icons/manage-display.svg');
}

.block-local-tasks-block ul.admin-local-tasks-tabs li a.newdraft span.icon {
  -webkit-mask-image: url('../images/icons/draft.svg');
}

.block-local-tasks-block ul.admin-local-tasks-tabs li a.revisions span.icon {
  -webkit-mask-image: url('../images/icons/revisions.svg');
}

.block-local-tasks-block ul.admin-local-tasks-tabs li a.settings span.icon {
  -webkit-mask-image: url('../images/icons/devel.svg');
}

.block-local-tasks-block ul.admin-local-tasks-tabs li a.scheduled span.icon {
  -webkit-mask-image: url('../images/icons/clock.svg');
}

.block-local-tasks-block ul.admin-local-tasks-tabs li a.shortcuts span.icon {
  -webkit-mask-image: url('../images/icons/shortcuts.svg');
}

.block-local-tasks-block ul.admin-local-tasks-tabs li a.submissions span.icon {
  -webkit-mask-image: url('../images/icons/email.svg');
}

.block-local-tasks-block ul.admin-local-tasks-tabs li a.test span.icon {
  -webkit-mask-image: url('../images/icons/test.svg');
}

.block-local-tasks-block ul.admin-local-tasks-tabs li a.translate span.icon {
  -webkit-mask-image: url('../images/icons/translate.svg');
}

.block-local-tasks-block ul.admin-local-tasks-tabs li a.user span.icon {
  -webkit-mask-image: url('../images/icons/user.svg');
}

.block-local-tasks-block ul.admin-local-tasks-tabs li a.view span.icon {
  -webkit-mask-image: url('../images/icons/view.svg');
}

/* Left position */
.block-local-tasks-block.position-left {
  left: -124px;
}

.block-local-tasks-block.position-left ul.admin-local-tasks-tabs li a {
  padding: 2px 32px 2px 2px;
}

.block-local-tasks-block.position-left ul.admin-local-tasks-tabs li a span.icon {
  right: 0px;
}

.block-local-tasks-block.position-left:not(.tooltips) ul.admin-local-tasks-tabs li:hover {
  left: calc(100% - 40px);
}

/* Right position */
.block-local-tasks-block.position-right {
  right: -124px;
}

.block-local-tasks-block.position-right ul.admin-local-tasks-tabs li a {
  padding: 2px 2px 2px 32px;
  text-align: left;
}

.block-local-tasks-block.position-right ul.admin-local-tasks-tabs li a span.icon {
  left: 0;
}

.block-local-tasks-block.position-right:not(.tooltips) ul.admin-local-tasks-tabs li:hover {
  left: calc(-100% + 40px);
}

/* Gin theme specific */
.gin--vertical-toolbar .block-local-tasks-block {
  z-index: 500;
}

.gin--vertical-toolbar .block-local-tasks-block.position-left {
  left: -68px;
}

.gin--horizontal-toolbar .block-local-tasks-block.position-left {
  left: -134px;
}

.gin--vertical-toolbar .block-local-tasks-block.position-right,
.gin--horizontal-toolbar .block-local-tasks-block.position-right {
  right: -134px;
}

.gin--vertical-toolbar .block-local-tasks-block ul.admin-local-tasks-tabs li {
  display: block;
}

.gin--vertical-toolbar[data-toolbar-menu="open"] .block-local-tasks-block.position-left {
  left: 122px;
}
